<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">

  <title>Shortly</title>
</head>

<header class="headerWrapp">
  <div class="container-fluid lg-container-vw container-pd-vw">
    <nav class="navbar navbar-expand-md cst_navbar">
      <div class="siteLogo"><a class="navbar-brand p-0 m-0 d-block" href="#"><img class="w-100"
            src="./assets/images/logo.svg" alt="Shortly" /></a></div>
      <button class="navbar-toggler hamburg-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#targetNavbar"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse thmNavbar" id="targetNavbar">
        <div class="navInside w-100 d-md-flex align-items-center">
          <ul class="navbar-nav align-items-center cstThm_nav">
            <li class="nav-item"><a class="nav-link" href="#section_0">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Resources </a></li>
          </ul>
          <ul class="navbar-nav align-items-center cstThm_nav rgt_nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
            <li class="nav-item"><a class="nav-link nav_btn btnBg" href="#">Sign Up</a></li>
          </ul>

        </div>
      </div>
    </nav>

  </div>

</header>