<footer class="footerWrap text-white">
    <div class="container-fluid lg-container-vw container-pd-vw">
        <div class="row row-vw">
            <div class="col-lg-4 col-md-3">
                <div class="footerLogo"><a href="#"><img class="w-100" src="./assets/images/logo-footer.svg"
                            alt="" /></a></div>
            </div>
            <div class="col-lg-8 col-md-9">
                <div class="row row-vw">
                    <div class="col-md-3">
                        <div class="footerWidget text-center text-md-left">
                            <div class="bx_title f-W-B">Features</div>
                            <ul class="list-unstyled mb-0 footerLinks f-sz-15">
                                <li><a href="#">Link Shortening </a></li>
                                <li><a href="#">Branded links</a></li>
                                <li><a href="#">Analytics</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footerWidget text-center text-md-left">
                            <div class="bx_title f-W-B">Resources</div>
                            <ul class="list-unstyled mb-0 footerLinks f-sz-15">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Developers</a></li>
                                <li><a href="#">Support </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footerWidget text-center text-md-left">
                            <div class="bx_title f-W-B">Company</div>
                            <ul class="list-unstyled mb-0 footerLinks f-sz-15">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Our Team </a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ul
                            class="list-unstyled mb-0 d-flex justify-content-center justify-content-md-center footerSocial">
                            <li><a class="socialItem" href="#" target="_blank"><i
                                        class="fa fa-facebook-official"></i></a></li>
                            <li><a class="socialItem" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="socialItem" href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            <li><a class="socialItem" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>